/* Setting color variables */
:root {
    --linen: #d5d2c1;
    --twine: #bd8e62;
    --fawn: #a46843;
    --hickory: #370d00;
    --charcoal: #1a1a1a;
    --white: #fff;
    --lgrey: #f2f2f2;
}
/* page styling */
html,
body {
    width: 100%;
    height: 100%;
}
main {
    background: var(--lgrey);
}
main .page-content {
    color: var(--charcoal);
    background: var(--white);

}
/* nav-styling */
nav.navbar.navbar-expand-lg.navbar-dark.bg-hickory {
    background: var(--hickory);
}
nav.navbar .container .navbar-nav .nav-link {
    color: var(--linen);
}
nav.navbar .container a,
nav.navbar .container .navbar-nav .nav-link:hover {
    color: var(--white);
}
nav.navbar .container .navbar-nav .nav-link.active {
    color: var(--white);
}
nav.navbar .container .navbar-toggler {
    color: var(--white);
}
.brand--w {
    padding: .15em .3em;
    border: 1px solid var(--white);
}
/* content styling */
.container.page-content {
    height: 100%;
    min-height: calc(100vh - 56px);
    padding: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25)
}
.deliverables__header {
    box-sizing: border-box;
    padding: 2em 1em;
}
.deliverables__header h1 {
    border-bottom: 3px solid var(--fawn); 
    display: inline-block;
}
.image__container {
    width: 100%;
    padding: 0;
}
.image__container img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.row.padding--bottom {
    padding-bottom: 2em;
}

i.fas.fa-download {
    padding-right: .5em;
}

@media(max-width: 768px) { 
    .row.padding--bottom {
        padding-bottom: 0;
    }
    .col-md-4 {
        padding-bottom: 2em;
    }
}
