/* Setting color variables */
:root {
    --linen: #d5d2c1;
    --twine: #bd8e62;
    --fawn: #a46843;
    --hickory: #370d00;
    --charcoal: #1a1a1a;
}

body .container {
    color: var(--charcoal);
}

nav.navbar.navbar-expand-lg.navbar-light.western--background {
    background-color: var(--hickory);
}
nav.navbar .container a,
nav.navbar .container .navbar-nav .nav-link {
    color: #fff;
    border-bottom: 2px solid transparent;
}
nav.navbar .container a:hover,
nav.navbar .container .navbar-nav .nav-link:hover {
    color: var(--linen);
}
nav.navbar .container .navbar-nav .nav-link.active {
    color: var(--linen);
    border-bottom: 2px solid var(--linen);
}
